*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
/* Header */
.logoNav {
  width: 100px;
  height: 50px;
}
.iconSearch{
  width: 25px;
  height: 26px;
  padding: 2px;
  outline: none;
}
.modal-content{
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.404) !important;
  border-radius: 0.8em !important;
}
.modal{
  position: fixed;
  top: 0;
  left:0;
  margin: 10rem 0px 0 32rem ;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
.font-bold{
  font-weight: bold;
}
.h3{
  font-size: 18px !important;
}
.text-group, .text-pet, .text-shared{
  background-color: #fff;
  border: none;
  font-size: 12px;
}
.radioButton2 input[type="radio"]{
  display: none;
}
.text-group{
  margin-right: 120px;
}
.text-pet{
  margin-right: 105px;
}
.text-shared{
  margin-right: 50px;
}
.btn{
  margin-right: 14px;
}
.h4{
  font-size: 12px;
  color: #929292;
}
.label{
  font-weight: 700;
  font-size: 12px;
}
.marginCustom{
  margin-left: 5px;
  width: 170px;
  height: 30px;
}
.applyBtn{
  background: #5A57AB;
  color: #fff;
  margin-left: 155px;
  margin-top: 10px;
  width: 100px;
}
.date{
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  width: 25%;
  border-radius: 5px;
  padding: 7px 10px;
}
.bg-date{
  background: #C2C2C2;
  border: none;
}
.pickerDate{
  background-color: #e6e6e6;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0 12px;
}
.btnWhite{
  background: #ffffff;
  color: #000000;
  border: none;
}
.title-Sign{
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
.fixed{
  position: fixed;
}
.fixed-1{
  position: relative;
}
.submitBtn{
  width: 100%;
}
.formCustom{
  padding: 15px 40px;
}
.customP{
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: -5px;
}
.customBgCard{
  background-color: #F9F9F9;
  margin-left: -70px;
  width: 100%;
  padding: 20px 0;
}
.cardContainer{
  width: 100%;
  
}
.CardCustom{
  cursor: pointer;
  margin-left: 5px;
  width: 100%;
  
}
.amenities{
  position: absolute;
  font-size: 10px;
  background-color: #ffffff;
  margin: 20px 20px;
  padding: 5px 10px;
  border-radius: 5px;
}
.fontCustom{
  font-size: 9px;
  font-weight: bold;
}
.customTitle{
  font-size: 13px;
  margin: -8px 0;
}
.lokasiCustom{
  font-size: 10px;
  margin-bottom: -20px;
  color: #A8A8A8;
}
.homeCustom{
  overflow-x: hidden;
  margin-top: 100px;
}
.searchCustom{
  background-color: #e6e6e6;
  padding-left: 10px;
  border-radius: 5px;
  align-self: center;
  border: none !important;
}
.searchCustom:focus{
  background-color: #e6e6e6 !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.typeOfRent, .propertyRoomBtn{
  background-color: #e6e6e6;
  border: none;
  color: #000000;
}
.typeOfRent:hover, .propertyRoomBtn:hover{
  background-color: #C2C2C2;
}
.typeOfRent.active{
  background-color: #5A57AB !important;
  color: #ffffff !important;
  border: none;
}
.propertyRoomBtn.active{
  background-color: #5A57AB !important;
  color: #ffffff !important;
  border: none;
}
.btnSearch{
  background-color: #e6e6e6;
}
.btnSearch:hover, .btnSearch:active{
  background-color: #e6e6e6;
}
.btnSearch:focus{
  background-color: #e6e6e6;
  box-shadow: none;
}
.input-group-text{
  background-color: #fff;
  border: none;
}
.bgCheckbox{
  background-color: transparent !important;
}
.lineDate{
  width:2px;
  background-color: #A8A8A8;
  height: 30px;
  margin-left: 7px;
}
.datePoly{
  height: 20px;
  position: absolute;
  left: 80%;
  margin-top: 4px;
}
.aminityContainer{
  font-size: 12px;
  color: #929292;
}
.aminityLabel{
  width: 22%;
}
.btnSignOut{
  background-color: #fff;
  border: none;
  color: #000000;
}
.menu-drop{
  box-shadow: none;
}
.dropdown-menu::before{
  width: 10px;
  background-color: #000000;
  height: 10px;
}
.dropdown-menu{
  margin-top: 10px !important;
  margin-left: -120px !important;
}
.btn.focus, .btn:focus{
  box-shadow: none !important;
}
.logoLink{
  width: 30px;
  margin-right: 15px;
}
.logoutLink{
  width: 30px;
  margin-left: -10px;
  margin-right: 10px;
}
.dropdown-toggle::after{
  display: none;
}
.arrow-up {
  position: absolute;
  width: 0; 
  height: 0;
  top: -10px;
  right: 10px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 18px solid #e7e7e7;
}
.imgProfile{
  width: 40px;
  height: 40px;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #ffffff;
}
.btnSignOut{
  background: transparent !important;
}
.btnSignOut:hover{
  background: transparent !important;
  color: #000000;
}
.linkDrop{
  color: #000000;
}

/* Profile */
.containerProfile, .containerBooking,.containerDetailProduct{
  width: 100%;
  height: 90vh;
  position: relative;
  margin: 50px auto 0 0;
  background-color: #F9F9F9;
}
.boxProfile{
  position: absolute;
  width: 50%;
  left: 25%;
  margin: 70px auto 0 auto;
  height: 85%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
}
.personalContainer{
  margin: 28px 0 0 28px;
  width: 70%;
}
.titleProfile h3 {
  font-size: 20px;
}
.containerContent{
  display: flex;
  margin-top: 8px;
}
.containerContent .image{
  align-self: center;
  width: 30px;
  height: 30px;
}
.containerContent .logoPass{
  width: 25px;
  margin-left: 3px;
}
.containerContent .logoAdd{
  width: 25px;
  margin-left: 3px;
}
.content{
  line-height: 10px;
  margin-left: 15px;
  margin-top: 10px;
}
.containerContent .content h3{
  font-size: 14px;
  font-weight: 700;
}
.containerContent .content p{
  font-size: 12px;
  color: #8A8C90;
}
.imageProfileContainer {
  margin: 28px 0 0 32px;
}
.imageProfileContainer .profileIcon{
  border-radius: 5px;
}
.btnChange{
  width: 90%;
  background-color: #5A57AB;
  border: none;
  margin-top: 13px;
  height: 45px;
}
.btnChange:hover{
  background-color: #5A57AB;
}
.changePassword{
  background-color: #fff;
  color: #0083E2;
  border: none;
  font-weight: 700;
  font-size: 14px;
  padding: 0 !important;
}
.changePassword:hover{
  background-color: #fff;
  color: #0083E2;
}
.show, .fade{
  background: transparent !important;
}

/* Booking */
.boxBooking{
  position: absolute;
  width: 50%;
  left: 25%;
  margin: 70px auto 0 auto;
  height: 50%;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 34px;
}
.headerBooking{

}

/* Detail Product */
.containerContentImage{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .containerContentImage .house1{
  width: 70%;
  border-radius: 0%;
} */

@media screen and (max-width:900px) {
  .inputGroup{
    margin: 0;
    width: 100%;
  }
}